<html xmlns:th="http://www.thymeleaf.org">
<!--引数の title, links は fragment expressions */-->
<head th:fragment="base_header(title,links)">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--   <meta http-equiv="x-ua-compatible" content="ie=edge"> -->
  <!--/* 各ビュータイトル */-->
  <title th:text="${title}">Spring boot de Hello world!</title>

  <!--/* 必ず読み込むファイル */-->
  <link th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{/plugins/fontawesome-free/css/all.min.css}" rel="stylesheet" />
  <link th:href="@{/dist/css/adminlte.min.css}" rel="stylesheet" />
  <link th:href="@{/com/common_prj.css}" rel="stylesheet" />
  <!--/* 固有で読み込むリンク */-->
  <th:block th:replace="${links}" />
</head>
<header th:fragment="header" class="main-header bg-teal">
	<!-- トップメニュー -->
	<nav class="navbar navbar-static-top" role="navigation">
	    <ul class="nav navbar-nav">
	        <li><a href="/demo">社員一覧</a></li>
	    </ul>
	</nav>
</header>
<footer th:fragment="footer" class="main-footer bg-teal">
	<span class="pull-right hidden-xs">Version1.0</span>
	<strong>Copyright &copy; 2015</strong>, All rights reserved.
</footer>
</html>